
venv/
**/__pycache__/
**/node_modules/
**/migrations/
.env
*.log
*.pyc
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.hprof
*.hs_err_pid*
*.iml
*.idea/
.vscode/
.pytest_cache/
.coverage
.cache/
.mypy_cache/
.pylint_cache/
htmlcov/
dist/
build/
*.egg-info/
*.egg
*.pyd
*.so
*.dll
*.exe
*.msi
*.msp
*.msm
*.deb
*.rpm
*.snap
*.gz
*.tar.gz
*.tgz
*.bz2
*.tar.bz2
*.xz
*.tar.xz
*.lzma
*.tar.lzma
*.zip
*.jar
*.war
*.ear
*.rar
*.7z
*.bz2
*.gz
*.lz
*.xz
*.tar
*.tbz2
*.tgz
*.zip
*.z
*.Z
*.tar.gz
*.tar.Z
*.tar.bz2
*.tar.lz
*.tar.xz
*.tar.lzma
*.tar.lzo