* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .post {
    display: flex;
    width: 70%;
    margin: 50px auto;
    box-shadow: 0 5px 15px 0 #777;
  }
  
  .post-date {
    font-size: 13px;
    color: #bbb;
  }
  
  .post-author {
    color: #555;
  }
  
  .post-excerpt {
    letter-spacing: 1px;
    line-height: 1.33;
  }
  
  .post-image {
    position: relative;
    flex: 0 0 40%;
    width: auto;
    max-width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    img {
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute
    }
  }
  
  
  
  .post-content {
    flex: 0 0 60%;
    padding: 20px 30px;
  }
  
  .post-link {
    display: inline-block;
    margin: 0 0 15px;
    padding: 16px 48px;
    background: lightblue;
    color: #fff;
    text-decoration: none;
    border-radius: 4em;
    transition: background-color .2s ease-in-out;
    
    &:hover {
      background-color: darken(lightblue, 10%);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .post {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .post {
      flex-direction: column;
    }
    
    .post-image {
      height: 270px;
      max-width: 100%;
    }
    
    .post-content {
      /* padding: 20px 0; */
    }
  }