body {
  font-family: 'Montserrat';
}

.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5em;
}

.nav-link {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
}

.dropdown-toggle img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Added margin */
}

.dropdown-toggle .name {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
}

.fas.fa-chevron-down {
  margin-left: auto;
  margin-right: 5px;
}

.dropdown-menu {
  white-space: nowrap;
}

.dropdown-item {
  color: #333;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px;
}

/* Additional styles for better visibility */
.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu a {
  padding: 10px;
}

.dropdown-menu a:hover {
  background-color: #f0f5ff;
  color: #3b80f9;
}

/* Optional: Adjustments for small screens */
@media (max-width: 767px) {
  .dropdown-toggle {
    height: auto;
  }

  .dropdown-toggle img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjusted margin for small screens */
  }

  .dropdown-toggle .name {
    font-size: 1em;
  }

  .button {
    padding: 8px;
  }
}
